mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

/* app default style */
/*html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
}
body {
  background: none;
}
section[role="region"] {
  margin-bottom: 1.5rem;
  position: relative;
}*/

/* Style #my-button blue with white text and darker blue ink. */
paper-button {
  margin: 1em;
  width: 10em;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}